<%- include("partials/header") %> <%- include("partials/navbar") %>

<div class="container">
  <div class="content-box">
    <h4 class="content-box-title"><%= pageTitle %></h4>
    <form action="/auth/activate/<%= userid %>" method="POST" novalidate>
      <div class="input-field">
        <input type="text" name="passcode" maxlength="8" required />
        <label for="passcode">Passcode</label>
      </div>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <button type="submit" class="btn">Activate Account</button> <%
      if(errorMessage) {%>
      <div class="error-message"><%= errorMessage %></div>
      <% } %><% if(successMessage) {%>
      <div class="success-message"><%= successMessage %></div>
      <% } %>
    </form>
    <p>
      Don't receive a passcode?&nbsp
      <a href="/auth/resend/<%= userid %>">Resend</a>
    </p>
  </div>
</div>

<%-include("partials/footer") %>
