<%- include('partials/header') %> <%- include('partials/navbar') %>

<div class="container">
  <h1 style="text-align: center;">Contacts</h1>
  <div class="container">
    <div class="search-container">
      <form action="/contacts" method="GET">
        <div class="row">
          <div class="col m1"></div>
          <div class="col m8">
            <input type="search" name="search" placeholder="Search.." />
          </div>
          <div class="col m2">
            <button type="submit" class="btn">
              <i class="material-icons">search</i>
            </button>
          </div>
          <div class="col m1"></div>
        </div>
        <div class="row">
          <div class="col m1"></div>
          <div class="col m2 s12">
            <label style="font-size: 12pt;">Search by:</label>
          </div>
          <div class="col m3 s5">
            <label>
              <input name="searchBy" type="radio" value="firstName" required />
              <span>First Name</span>
            </label>
          </div>
          <div class="col m3 s5">
            <label>
              <input name="searchBy" type="radio" value="lastName" required />
              <span>Last Name</span>
            </label>
          </div>
          <div class="col m2 s2">
            <a href="/contacts"><i class="material-icons">autorenew</i></a>
          </div>
          <div class="col m1"></div>
        </div>
      </form>
    </div>
    <% if(contacts.length > 0) { %>
    <div class="collection">
      <% contacts.forEach( contact => {%>
      <div class="collection-item">
        <div class="row" style="margin-bottom: 10px;">
          <div class="col m2 s12" style="padding-right:0;">
            <i
              class="fas fa-user-circle"
              style="font-size: 600%; padding-top:5px;"
            ></i>
          </div>
          <div class="col m1"></div>
          <div class="col m7 s12" style="margin-bottom: 5px; padding-left: 0;">
            <h5><%= contact.firstName + " " + contact.lastName %></h5>
            <form
              action="/contacts/<%= contact._id %>?_method=DELETE"
              method="post"
            >
              <a class="btn" href="/contacts/<%= contact._id %>">
                View Contact
              </a>
              <button class="btn red">Delete</button>
            </form>
          </div>
          <div class="col m2 s12">
            <i
              class="medium material-icons"
              style="margin-top: 20px; padding-right: 20px;"
            >
              star_border
            </i>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>

  <!-- Pagination starts here -->
  <!-- Data: {contacts, currentPage, pages} -->
  <!-- Notice: currentPage is type String, so when use to compare -->
  <!-- with other number, == should be use or we need to convert it to a number -->
  <!-- before comparing it with a number using === -->
  <% if (pages > 0) { %>
  <ul class="pagination">
    <% if(currentPage == 1) { %>
    <li class="disabled">
      <a><i class="material-icons">chevron_left</i></a>
    </li>
    <% } else { %>
    <li>
      <a href="/contacts/?page=1"><i class="material-icons">chevron_left</i></a>
    </li>
    <% } %> <% var pageCheckpoint = (Number(currentPage) > 5 ?
    Number(currentPage) - 4 : 1) %> <% if (pageCheckpoint !== 1) { %>
    <li class="disabled"><a>...</a></li>
    <% } %> <% for (i = pageCheckpoint; i <= (Number(currentPage) + 4) && i <=
    pages; i++) { %> <% if (i === Number(currentPage)) { %>
    <li class="active"><a><%= i %></a></li>
    <% } else { %>
    <li><a href="/contacts/?page=<%= i %>"><%= i %></a></li>
    <% } %> <% if (i == Number(currentPage) + 4 && i < pages) { %>
    <li class="disabled"><a>...</a></li>
    <% } %> <% } %> <% if (currentPage == pages) { %>
    <li class="disabled">
      <a><i class="material-icons">chevron_right</i></a>
    </li>
    <% } else { %>
    <li>
      <a href="/contacts/?page=<%= pages %>"
        ><i class="material-icons">chevron_right</i></a
      >
    </li>
    <% } %>
  </ul>
  <% } %> <% } else {%>
  <div class="container">
    <p class="message">You don't have any contacts to show, please add some!</p>
  </div>
  <% } %>
</div>
<!--
  We check number of current page and if this value is less than 5
  then output pagination link from 1 to currentPage + 4
  and if this value more than 5 then weill start output pagination link
  from currentPage -4 to currentPage + 4, thus previous links on 
  currentPage - 5 will be hide.
-->

<%- include('partials/footer') %>
