<%- include('partials/header') %> <%- include('partials/navbar') %>

<div class="container">
  <div class="content-box">
    <h4 class="content-box-title"><%= pageTitle %></h4>
    <form action="/auth/login" method="POST" novalidate>
      <div class="input-field">
        <input
          class="<%= validationErrors.find(error => error.param === 'email') ? 'invalid' : '' %>"
          type="text"
          name="email"
          required
        />
        <label for="email">Email</label>
      </div>
      <div class="input-field">
        <input
          class="<%= validationErrors.find(error => error.param === 'password')  ? 'invalid' : '' %>"
          type="password"
          name="password"
          required
        />
        <label for="password">Password</label>
      </div>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <button type="submit" class="btn">Sign In</button> <% if(errorMessage) {%>
      <div class="error-message"><%= errorMessage %></div>
      <% } %> <% if(successMessage) {%>
      <div class="success-message"><%= successMessage %></div>
      <% } %>
    </form>
    <p>Don't have an account?&nbsp<a href="/auth/signup">Sign up</a></p>
    <p>Forget password?&nbsp<a href="/auth/reset">Reset password</a></p>
  </div>
</div>

<%- include('partials/footer') %>
