<%- include('partials/header') %> <%- include('partials/navbar') %>

<div class="container" id="main">
  <h1 style="text-align: center;">My Favorites</h1>
  <div class="container">
    <div class="search-container">
      <form action="/contacts/myfav" method="GET">
        <div class="row">
          <div class="col m1"></div>
          <div class="col m9">
            <input type="search" name="search" placeholder="Search.." />
          </div>
          <div class="col m1">
            <button type="submit" class="btn">
              <i class="material-icons">search</i>
            </button>
          </div>
          <div class="col m1"></div>
        </div>
        <div class="row">
          <div class="col m1"></div>
          <div class="col m2 s12">
            <label style="font-size: 12pt;">Search by:</label>
          </div>
          <div class="col m3 s5">
            <label>
              <input name="searchBy" type="radio" value="firstName" required />
              <span>First Name</span>
            </label>
          </div>
          <div class="col m3 s5">
            <label>
              <input name="searchBy" type="radio" value="lastName" required />
              <span>Last Name</span>
            </label>
          </div>
          <div class="col m2 s2">
            <a href="/contacts"><i class="material-icons">autorenew</i></a>
          </div>
          <div class="col m1"></div>
        </div>
      </form>
    </div>
    <% if(contacts.length > 0) { %>
    <div class="collection">
      <% contacts.forEach( contact => {%>
      <div class="collection-item">
        <div class="row" style="margin-bottom: 10px;">
          <div class="col m2 s12" style="padding-right:0;">
            <i
              class="fas fa-user-circle"
              style="font-size: 600%; padding-top:5px;"
            ></i>
          </div>
          <div class="col m1"></div>
          <div class="col m9 s12" style="margin-bottom: 5px; padding-left: 0;">
            <div
              style="padding-left: 5px; margin-top: 5px; font-size: 20pt;"
              onclick="addToFav(this)"
            >
              <%= contact.firstName + " " + contact.lastName %>
              <i class="small material-icons">
                <% if(contact.isFav) { %> star <% } else { %> star_border <% }%>
              </i>

              <!-- <form
                    action="/contacts/<%= contact._id %>?_method=DELETE"
                    method="post"
                  > -->
            </div>
            <div style="padding-top: 15px;">
              <a
                class="btn"
                href="/contacts/<%= contact._id %>"
                style="margin-bottom: 5px; width: 150pt;"
              >
                View Contact
              </a>

              <!-- <button class="btn blue" onclick="addToFav(this)">
                    Add to favorite
                  </button> -->
              <input
                type="hidden"
                name="contactID"
                value="<%= contact._id %>"
              />

              <button
                class="btn red"
                onclick="deleteContact(this)"
                style="margin-bottom: 5px; width: 150pt;"
              >
                Delete
              </button>
            </div>
            <!-- </form> -->
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>

  <!-- Pagination starts here -->
  <!-- Data: {contacts, currentPage, pages} -->
  <!-- Notice: currentPage is type String, so when use to compare -->
  <!-- with other number, == should be use or we need to convert it to a number -->
  <!-- before comparing it with a number using === -->
  <% if (pages > 0) { %> <%- include('partials/pagination', {currentPage, pages,
  path}) %> <% } %> <% } else {%>
  <div class="container">
    <p class="message">
      <% if(search.isSearching) { %> Contact with <%= search.searchBy %> of '<%=
      search.searchValue %>' is not in your favorite contacts. <% } else {%> You
      don't have any contacts to show, please add some! <% } %>
    </p>
  </div>
  <% } %>
</div>
<!--
        We check number of current page and if this value is less than 5
        then output pagination link from 1 to currentPage + 4
        and if this value more than 5 then weill start output pagination link
        from currentPage -4 to currentPage + 4, thus previous links on 
        currentPage - 5 will be hide.
      -->
<script>
  const deleteContact = btn => {
    const thisContact = btn.closest(".collection-item");
    const thisContactID = btn.parentNode.querySelector("[name=contactID]")
      .value;
    fetch("/contacts/" + thisContactID, {
      method: "DELETE"
    })
      .then(result => {
        return result.json();
      })
      .then(data => {
        thisContact.parentNode.removeChild(thisContact);
      });
  };

  const addToFav = btn => {
    const thisContact = btn.closest(".collection-item");
    const thisContactID = btn.parentNode.querySelector("[name=contactID]")
      .value;
    let star = btn.querySelector(".material-icons");
    console.log("remove from favorite");
    fetch("/contacts/isFav", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ _id: thisContactID, isFav: false })
    })
      .then(result => {
        return result.json();
      })
      .then(data => {
        // thisContact.parentNode.removeChild(thisContact);
        $(thisContact).fadeOut(1000, () => thisContact.remove());
      });
  };
</script>

<%- include('partials/footer') %>
