<%- include("partials/header") %> <%- include("partials/navbar") %>

<div class="container">
  <div class="content-box">
    <h4 class="content-box-title"><%= pageTitle %></h4>
    <form action="/auth/reset/<%= token %>" method="POST" novalidate>
      <div class="input-field">
        <input
          class="<%= validationErrors.find(error => error.param === 'password')  ? 'invalid' : '' %>"
          type="password"
          name="password"
          value="<%= oldInput.password %>"
          required
        />
        <label for="password">Password</label>
      </div>
      <div class="input-field">
        <input
          type="password"
          name="confirmPassword"
          value="<%= oldInput.confirmPassword %>"
          required
        />
        <label for="confirmPassword">Confirm Password</label>
      </div>
      <input type="hidden" name="email" value="<%= email %>" />
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <button type="submit" class="btn">Reset</button> <% if(errorMessage) {%>
      <div class="error-message"><%= errorMessage %></div>
      <% } %>
    </form>
  </div>
</div>

<%-include("partials/footer") %>
