<%- include("./partials/header") %> <%- include('partials/navbar') %>

<div class="container">
  <h1><%= contact.firstName + " " + contact.lastName %></h1>
  <div>
    <h5>Address:</h5>
    <div class="card">
      <div class="card-content">
        <table>
          <tr>
            <th>Street:</th>
            <td id="street"><%= contact.address.street %></td>
          </tr>
          <tr>
            <th>City:</th>
            <td id="city"><%= contact.address.city %></td>
            <th>State:</th>
            <td id="state"><%= contact.address.state %></td>
          </tr>
          <tr>
            <th>Country:</th>
            <td id="country"><%= contact.address.country %></td>
            <th>ZIP:</th>
            <td id="zip"><%= contact.address.zip %></td>
          </tr>
          <tr>
            <th>Email:</th>
            <td><%= contact.email %></td>
          </tr>
        </table>
      </div>
    </div>
    <br />
    <h5>Phone Number:</h5>
    <div class="card">
      <div class="card-content">
        <table>
          <tr>
            <th>Mobile:</th>
            <td>
              <%= contact.phoneNumber.mobile ? contact.phoneNumber.mobile :
              "none" %>
            </td>
          </tr>
          <tr>
            <th>Home:</th>
            <td>
              <%= contact.phoneNumber.home ? contact.phoneNumber.home : "none"
              %>
            </td>
          </tr>
          <tr>
            <th>Work:</th>
            <td>
              <%= contact.phoneNumber.work ? contact.phoneNumber.work : "none"
              %>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div style="margin-bottom: 20px;">
      <a class="waves-effect waves-light btn blue" href="/contacts"> Back </a>
      <a
        class="waves-effect waves-light btn"
        href="/contacts/<%= contact._id %>/update"
      >
        Update Contact
      </a>
      <% if(contact.address.street && (contact.address.city ||
      contact.address.state || contact.address.country)) { %>
      <button class="getLocation waves-effect waves-light btn yellow darken-1">
        Get Location
      </button>
      <% } %>
      <p class="getLocationMessage error-message"></p>
    </div>
  </div>
</div>

<script>
  let street = $("#street").html();
  let city = $("#city").html();
  let state = $("#state").html();
  let country = $("#country").html();

  $(".getLocation").on("click", e => {
    $.ajax({
      dataType: "json",
      url: "/getLocation",
      data: { street, city, state, country },
      success: function(data) {
        if (data.status === "OK") {
          // let latitude = data.latitude;
          // let longitude = data.longitude;
          window.open(
            `https://www.google.com/maps/search/?api=1&query=${data.address}`,
            "_blank"
          );
        } else {
          $(".getLocationMessage").html("Could not find location.");
        }
      }
    });
  });
</script>
<%-include("./partials/footer")%>
